<table class="table">
    <thead>
        <tr>
            <TH>Code</TH>
            <TH>Name</TH>
        </tr>
    </thead>
    <tbody>
        <TR>
            <TD><input class="form-control" ng-model="department.code"></TD>
            <TD><input class="form-control" ng-model="department.name"></TD>
            <TD>
                <button class="btn btn-primary" ng-click="addDepartment()">Add</button>
                <button class="btn btn-warning" ng-click="updateDepartment()">Update</button>
            </TD>
        </TR>
        <TR ng-repeat='department in departments track by $index'>
            <TD>{{department.code}}</TD>
            <TD>{{department.name}}</TD>
            <TD>
                <button class="btn btn-info" ng-click="editDepartment(department)">Edit</button>
                <button class="btn btn-danger" ng-click="removeDepartment(department._id)">Remove</button>
            </TD>
        </TR>
    </tbody>
</table>
